body {
    background-color: whitesmoke;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    min-width: 100vw;
    min-height: 100vh;
}

@if $enable-dark-mode {
    @include color-mode(dark, true) {
        body {
            background-color: #1d2125;
        }
    }
}