.font8 {
    font-size: 8px;
}

.font16 {
    font-size: 16px;
}

.font24 {
    font-size: 24px;
}

.font32 {
    font-size: 32px;
}

.font48 {
    font-size: 48px;
}

.font64 {
    font-size: 64px;
}

.font96 {
    font-size: 96px;
}

.font128 {
    font-size: 128px;
}

.font256 {
    font-size: 256px;
}

.font512 {
    font-size: 256px;
}