a {
    text-decoration: none;
    transition: 0.2s all;
    color: $primary;
    outline: 0 !important;

    &:hover,
    &:active,
    &:focus {
        outline: 0 !important;
        text-decoration: none;
    }
}