
.modal-dialog-started {
    display: flex;
    align-items: start;
    min-height: calc(100% - var(--#{$prefix}modal-margin) * 2);
}

.modal-dialog-ended {
    display: flex;
    align-items: end;
    min-height: calc(100% - var(--#{$prefix}modal-margin) * 2);
}