.hide-spinner {
    appearance: textfield;
    -moz-appearance: textfield;
}

.hide-spinner::-webkit-outer-spin-button,
.hide-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}